.containerTimes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    position: relative;
    background-blend-mode: multiply;
}

.containerTimes h3 {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 1rem;
    border-bottom: 3px solid black;
    margin-bottom: 2.4rem;
}

.contianer-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.input-color {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

